@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-behavior: smooth;
  font-family: 'Montserrat', sans-serif;
}

:root{
  --bg-gray:rgb(234, 234, 234);
  --border-gray:rgb(183, 183, 183);
}

.section-title{
  font-size: 16px;
  color: #000;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
}

/* buttons */
.styled-button{
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 5px 10px;
  text-align: center;
}

.outlined-button{
  color: #fff;
  border: 1px solid #fff;
  z-index: 1;
}

.bg-gray-button{
  font-weight: 700;
  color: #000;
  background-color: var(--bg-gray);
  border: none;
  padding: 5px 10px;
  z-index: 1;
}

.bg-black-button{
  font-weight: 700;
  color: #fff;
  background-color: #000;
  border: none;
  z-index: 1;
}

/* TopBar */
.search-box{
  padding: 4px;
  border-radius: 15px;
  background-color: var(--bg-gray);
}

.search-box input{
  border-radius: 10px;
  background-color: var(--bg-gray);
}

.search-box input:focus{
  outline: none;
}

.mob-search-box.active{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: #fff;
  height: 100vh;
}

.mob-search-box.close{
  display: none;
}

.mob-search-box.active input{
  background-color: var(--bg-gray);
  width: 85%;
}

.cancel-button{
  cursor: pointer;
  position: absolute;
  left: auto;
  right: 5px;
  top: 0;
}

.mob-search-box input:focus{
  outline: none;
}

.logo{
  font-size: 22px;
  font-weight: 600;
}

.menu-list.full-menu{
  transform: translateX(0);
}

.menu-list.mob-menu{
  display: block;
  position: absolute;
  right: 0;
  left: 50%;
  height: 100vh;
  background-color: #fff;
  text-align: start;
  padding: 20px;
  z-index: 21;
  transform: translateX(0%);
  transition: transform 1s ease;
}

.menu-list li{
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
}

.mob-menu-close-icon{
  cursor: pointer;
  z-index: 21;
  position: absolute;
  right: 10px;
}

/* cart open */
.cart-items{
  transform: translateX(100%);
  transition: transform .25s;
}

.cart-items.cart-active{
  transform: translateX(0%);
}

/* Banner Slider */
.dots {
  display: flex;
  padding: 10px 0;
  justify-content: center;
}

.dot {
  border: none;
  width: 10px;
  height: 2px;
  background: #c5c5c5;
  margin: 0 5px;
  cursor: pointer;
}

.dot:focus {
  outline: none;
}

.dot.active {
  background: #000;
}

/* product slides */
.arrow {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
  pointer-events: auto;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  -webkit-appearance: none;
  @apply bg-black;
}

